
header{
  position: relative;
  display: flex;
  /* background-color: #0892b9; */
  height: 5.8em;
  z-index: 1000;
}

nav{
  padding: 0px 7em 0px 7em;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-container{
  color: #023047;
  display: flex;
  gap: 30px;
  font-size: 1rem;
}

.nav-container a {
  transition: all 0.3s ease;
  cursor: pointer;
}

.nav-container a:hover {
  color: #fb2673;
  transform: scale(1.2);
}

.nav-container a.active{
  text-decoration: none;
  color: #fb2673;
}

.logo-container {
  cursor: pointer;
  display: flex;
  gap: 10px;
  align-items: center;
}

.logo-container div{
  display: flex;
  flex-direction: column;
}

.logo-container img{
  width: 60px;
  height: 60px;
}

.logo-container h2{
  font-weight: 700;
  text-transform: uppercase;
  color: #fb2673;
}

.logo-container p{
  font-size: 0.8rem;
  color: #512412;
}

.social-container{
  display: flex;
  gap: 30px;
  align-items: center;
}

.social-container div{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  border: 1px solid #023047;
  padding: 5px;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s ease;
}

.social-container div:hover{
  color: white;
  background-color: #fb2673;
  border: 1px solid #fb2673;
  transform: scale(1.3);
}

.btn-menu{
  display: none;
}

.panel-menu{
  display: none;
}

@media (max-width: 1076px){

  nav{
    padding: 0px 2% 0px 2%;

  }

}


@media (max-width: 890px){

  .nav-container{
    display: none;
  }

  .social-container{
    display: none;
  }

  .btn-menu{
    cursor: pointer;
    display: flex;
  }

  .btn-menu i{
    font-size: 2em;
    color: #fb2673;
  }

  .panel-menu{
    background-color: #023047;
    position: absolute;
    top: 0;
    left: -10000px;
    width: 40%;
    height: 100vh;
    display: flex;
    transition: all 0.3s ease;
  }

}

